
repos:
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.7.0
    hooks:
      - id: dotenv-linter
        files: |
          (?x)^(
            \.env(\..+)?|
            template/\.env\.template
          )$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff-check
      - id: ruff-format

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies: [wemake-python-styleguide]

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.19.1
    hooks:
    - id: markdownlint-cli2
      exclude: ^\.junie/