name: Lint Makefile

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - name: Install Checkmake
        run: go install github.com/checkmake/checkmake/cmd/checkmake@latest
      - name: Run Checkmake
        run: checkmake Makefile
