name: Lint Markdown

on:
  push:
    paths:
      - "**/*.md"
  pull_request:
    paths:
      - "**/*.md"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Markdown Lint
        uses: davidanson/markdownlint-cli2-action@v1
        with:
          globs: "**/*.md"
