name: Lint Python Code

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - lint

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"
      - name: Install dependencies
        run: uv sync
      - name: Run Ruff Check
        run: uv run ruff check .
      - name: Run Ruff Format
        run: uv run ruff format --check .
      - name: Run Flake8
        run: uv run flake8 main.py
      - name: Run Mypy
        run: uv run mypy .
