name: Lint Makefile

on:
  pull_request:
    branches:
      - master
      - main
      - lint
    paths:
      - '.pre-commit-config.yaml'
      - '.pre-commit-hooks.yaml'
      - 'Makefile'
      - 'makefile'
      - 'GNUmakefile'
      - '**.mk'
      - '**.make'
  push:
    paths:
      - '.pre-commit-config.yaml'
      - '.pre-commit-hooks.yaml'
      - 'Makefile'
      - 'makefile'
      - 'GNUmakefile'
      - '**.mk'
      - '**.make'

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - name: Set up Go 1.17
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
      id: go
    - name: Install pre-commit
      run: |
        python -m pip install --upgrade pip
        pip install "pre-commit>=4.5.0"
    - name: Run pre-commit
      run: |
        pre-commit run --all-files || true
      # We don't want a non-zero exit here to block CI in this linter-only workflow
      # (change behavior if you want failures to fail the job).
