name: Pre Commit

on:
  pull_request:
    branches:
      - master
      - main
  push:
    branches:
      - master
      - main

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version-file: "pyproject.toml"
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v7
    - name: Install dependencies
      run: uv sync
    - uses: pre-commit/action@v3.0.1
