# SPDX-FileCopyrightText: 2020 Free Software Foundation Europe e.V.
# SPDX-License-Identifier: CC0-1.0
name: Run tests and upload coverage

on:
  push:
    branches:
      - main
    paths:
      - "**/*.py"
      - "**/*.pyc"
  pull_request:
    branches:
      - main
    paths:
      - "**/*.py"
      - "**/*.pyc"

jobs:
  build:
    permissions:
      contents: read
      pull-requests: write
    name: Run tests and collect coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - name: Install dependencies
        run: uv sync
      - name: Run tests
        run: uv run pytest --cov --cov-branch --cov-report=xml
      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
